<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  
  
</head>
<body>
  <div id="navbar">
    <nav>
    <a id="homelink" href="/">home</a>
    <% if (!user){ %>
    <a id="googlelogin" class="secondary-content" href="/auth/google">Login with Google </a>
    <% }; %>
    <% if(user){ %>
    <a id="googlelogout" href="/logout" class="secondary-content" style="padding-right: 3vmin" >Logout</a>
      <% }; %>
    <a href="/"class="center"style="font-size:20px" id="logo">The Brew Review</a>
<div>

</div>
      
  </nav>
  </div>
  <main>
    