<!DOCTYPE html>
<html>
  <head>
    

    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="/The-Brew-Review/css/style.css">
  </head>
  <body>
      <%- include('./partials/header') %>

<!-- new html below -->

<table id="list">
  <thead>

  </thead>
  <tbody>
      <% brews.forEach(function(m) { %>
        <tr>
          <td><%= m.name %></td>
          <td><%= m.brewery %></td>
        </tr>
        <% }); %>
      </tbody>
  </table>

  




  </body>
</html>
