<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="/css/style.css" rel="stylesheet" >

    <title>Write a Brew Review</title>
</head>
<body>
<%- include('./partials/header') %>


<form action="/<%= brew._id %>/createreview" method="post">
  
<input type="text"name="user" value="<%= user.name %>" >  </input>
<textarea name="review"  cols="30" rows="50" required placeholder="enter your review"></textarea>
          
    <div class="input-field col s12">
            <select class="browser-default" name="rating" required>
              <option value="" disabled selected>rate it 1-5</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              
            </select>

    <button type="submit">submit</button>
    

</form>


</body>
</html>